<div class="form-wrapper">
  <mat-card appearance="outlined">
    <div class="card-content">
      <div>
        <h6>EmployeeForm</h6>
      </div>
      <div class="">
        <mat-button-toggle-group
          name="favoriteColor"
          aria-label="Axction to take"
          class="action-btns"
          [hideSingleSelectionIndicator]="true"
        >
          <mat-button-toggle value="red">
            <mat-icon
              aria-hidden="false"
              aria-label="Add new icon"
              fontIcon="add"
            ></mat-icon>
            New
          </mat-button-toggle>
          <mat-button-toggle value="green">
            <mat-icon
              aria-hidden="false"
              aria-label="save icon"
              fontIcon="save"
            ></mat-icon>
            Save
          </mat-button-toggle>
          <mat-button-toggle value="blue">
            <mat-icon
              aria-hidden="false"
              aria-label="delete icon"
              fontIcon="delete"
            ></mat-icon>
            Delete
          </mat-button-toggle>
          <mat-button-toggle value="blue">
            <mat-icon
              aria-hidden="false"
              aria-label="Search icon"
              fontIcon="search"
            ></mat-icon>
            Search
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <form [formGroup]="empform" (ngSubmit)="onFormSubsmit()" class="my-form">
        <div mat-dialog-content class="content">
          <div class="img-row">
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>TIN</mat-label>
                <input matInput formControlName="tin" type="number" />
              </mat-form-field>
              <button mat-button>
                <mat-icon
                  aria-hidden="false"
                  aria-label="generate icon"
                  fontIcon="generate"
                ></mat-icon>
              </button>
              <button mat-button>
                <mat-icon
                  aria-hidden="false"
                  aria-label="Add new icon"
                  fontIcon="search"
                ></mat-icon>
              </button>
            </div>
            <div class="float">
              <app-image-uploader />
            </div>
          </div>
          <div class="first-row">
            <div class="row">
              <mat-form-field appearance="outline" class="example-form-field">
                <mat-label>TaxPayerType</mat-label>
                <mat-select formControlName="taxpayerType">
                  @for (taxpayertype of taxpayertypes; track taxpayertype) {
                  <mat-option [value]="taxpayertype.value">{{
                    taxpayertype.viewValue
                  }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <!--
              <mat-form-field appearance="outline">
                <mat-label>FolderNumber</mat-label>
                <input matInput formControlName="foldernumber" type="number" />
              </mat-form-field>
              -->
              <mat-form-field appearance="outline">
                <mat-label>AssesmentType</mat-label>
                <mat-select formControlName="assesmentType">
                  @for (assesmentype of assesementtypes; track assesmentype) {
                  <mat-option [value]="assesmentype.value">{{
                    assesmentype.viewValue
                  }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>FirstName</mat-label>
              <input matInput formControlName="firstName" type="text" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>MiddleName</mat-label>
              <input matInput formControlName="middleName" type="text" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>LastName</mat-label>
              <input matInput formControlName="lastName" type="text" />
            </mat-form-field>
            <!--
            <mat-form-field appearance="outline">
               <mat-label>FirstName(English)</mat-label>
               <input matInput formControlName="fnenglish" type="text" />
             </mat-form-field>
            -->
            <mat-form-field appearance="outline">
              <mat-label>Choose a date</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="dateOfBirth"
              />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Gender</mat-label>
              <mat-select formControlName="gender">
                @for (gender of gender; track gender) {
                <mat-option [value]="gender.value">{{
                  gender.viewValue
                }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Citizenship</mat-label>
              <mat-select formControlName="citizen">
                @for (citizen of citizenships; track citizen) {
                <mat-option [value]="citizen.value"
                  >{{ citizen.viewValue }}
                </mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Choose a date</mat-label>
              <input
                matInput
                [matDatepicker]="picker1"
                formControlName="registrationDate"
              />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker1"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Catagory</mat-label>
              <mat-select formControlName="category">
                @for (cata of catagories; track cata) {
                <mat-option [value]="cata.value"
                  >{{ cata.viewValue }}
                </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status">
                @for (stat of statuses; track stat) {
                <mat-option [value]="stat.value"
                  >{{ stat.viewValue }}
                </mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Region</mat-label>
              <mat-select
                (selectionChange)="onRegionSelectionChange($event)"
                formControlName="region"
              >
                @for (reg of rigons; track reg) {
                <mat-option [value]="reg.value"
                  >{{ reg.viewValue }}
                </mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>City</mat-label>
              <mat-select formControlName="city">
                @for (cit of cities; track cit) {
                <mat-option [value]="cit.value"
                  >{{ cit.viewValue }}
                </mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Woreda</mat-label>
              <mat-select formControlName="woreda">
                @for (wor of woredas; track wor) {
                <mat-option [value]="wor.value"
                  >{{ wor.viewValue }}
                </mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Kebele</mat-label>
              <mat-select formControlName="kebele">
                @for (keb of kebeles; track keb) {
                <mat-option [value]="keb.value"
                  >{{ keb.viewValue }}
                </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row"></div>
        </div>
        <div
          mat-dialog-action
          style="display: flex; align-items: center; gap: 8px"
        >
          <button mat-raised-button color="primary">Cancel</button>
          <button mat-raised-button type="submit">Save</button>
        </div>
      </form>
    </div>
  </mat-card>
</div>
